<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated bounceInUp">
  <ion-button expand="full" (click)="abrirPagina('componentcamera')">
Câmera
  </ion-button>
   <ion-button expand="full" (click)="abrirPagina('componenttext')">
Text to Speech
  </ion-button>

  <ion-button expand="full" (click)="abrirPagina('qrcode')">
    Qrcode
   </ion-button>
   <ion-button expand="full" (click)="abrirPagina('lista')">
    Lista 
   </ion-button>
   <ion-button expand="full" (click)="abrirPagina('components')">
    Componentes 
   </ion-button>
</ion-content>
